#menu-0 .navbar-toggler {
  color: #000;
}
#header1-1 H1 {
  color: #5cb85c;
}
#header3-g SMALL {
  text-align: left;
}
#footer1-h P {
  color: #d8f1d5;
}
#menu-b .navbar-toggler {
  color: #000;
}
#msg-box3-c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-6 .navbar-toggler {
  color: #000;
}
#msg-box3-8 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-8 .mbr-header .mbr-header__subtext {
  text-align: center;
}
